/*CSS SETTING*/
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo 2';
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: aliceblue;
}
html{
    scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*header bg*/
#navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
    z-index: -1;
    opacity: .7;
}
/*List style*/
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none  ;
    display: blok;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 23px;
    font-size: 19px;
    border-radius: 13px;
} 
#navbar ul li a:hover{
    color: black;
    background-color: white;
    transition: .5s;
} 
/*NavBar: btn*/
.btn1 button{
    margin: 5% 30%;
    PADDING: 7PX 12PX;
    BORDER-RADIUS: 15PX;
    background-color: cadetblue;
    border:1px solid white;

}
.btn1 button a{
    text-decoration: none;
    font-size: 90%;
    margin: 12px 10px;
    PADDING: 7PX 0PX;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    color: honeydew;
}
.btn1 button:hover{
    background-color: rgba(94, 218, 201, 0.39);
    color: black;
}
#part1{
    margin: 0%;
    padding: 0em;
    display: flex;
    border-bottom: 1px solid black;
}
.textbox{
    margin-left: 0%;
    background-color: rgba(196, 98, 0, 0.849);
    width: 100%;
    border-radius: 2px;
    color: white;
    
}
.textbox h1{
    text-shadow: black 1px 1px;
    font-size: 40px;
    text-align: center;
}
.textbox ul li{
    text-shadow: black 1px 1px;
    font-size: 25px;
    line-height: 40px;
}
.textbox ul{
    align-items: center;
}
.logobox{
    padding: 10px;
    overflow: hidden;
    
}
.design{
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}
#p1{
    width: 100px;  
}
#p2{
    width: 100px;
    height: 100px; 
}
.photol{
    padding: 10px;
    margin: 20px;
   
}
#part2{
    z-index: -3;
    padding: 0%;
    margin: 0%;
    position: relative;
    border: .00000001px solid rgb(231, 231, 185);
}
.heading{
    text-align: center;
    font-size: 35px;
}
#part2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(231, 231, 185);
    z-index: -1;
    opacity: .7;
    display: flex;
}
.ename{
    display:flex;
}
.ename h1{
     padding: 0px 10px;
}
.ename1{
    margin-left: 20%;
}
.ename2{
    position: relative;
    left: 50%;
    width: 100%;
    min-width: 30%;
    max-width: 50%;
    
}
.side4{
    width: 70px;
    height: 70px;
    border: solid 1px rgb(0, 0, 0);
    background-color: teal;
    text-align: center;
    border-radius: 50%;
    margin: 1%;
}
#part3{
    z-index: -3;
    padding: 0%;
    margin: 0%;
    background-color: rgba(145, 112, 75, 0.616);
    border-top: 1px solid rgba(145, 112, 75, 0.616);
    box-shadow: black 1px 1px 3px;
    
   
}
#heading2{
    text-align: center;
    font-size: 35px;
}
.hbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sgtext{
    color: black;
    text-align: center;
    text-shadow: blanchedalmond 1px 0px 1px;
}
.photo{
    display:flex;
    flex-direction: column;
    padding:1%;
    margin: 4%;
    text-align: center;
    background-color: rgb(204, 147, 62);
    box-shadow: black 1px 1px 5px;
}
.photoside4 img{
    width: 100px;
    height: 100px;
    border: solid 1px rgb(255, 255, 255);
    display: flexbox;
    text-align: center;
    border-radius: 50%;
}
#bgn{
    display: block;
    width: 180px;
    margin: auto
}
#bgn button{
    border: 1px solid black;
    text-align: center;

}
.con3{
    text-align: center;
}
.b4{
    width: 4%;
    text-align: justify;
    padding: 20px;
    margin-left: 20%px;
    display: inline-block;
      
}
 .b4 a img{
    height: 100%;
    width: 100%;
}
#b44{
    text-align: center;
    font-size: 120%;
}
#part5{
    position: relative;
    border: 1px solid rgb(238, 236, 236);
    margin: 0px;
    padding: 0px;
    line-height: 10%;
    
}
.foot h3{
    color: rgb(248, 211, 0);
    text-align: center;
}
#part5::before{
    position: absolute ;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}